/*  Neste arquivo, faremos TODAS as REGRAS 
CSS necesárias para a formatação do site. */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/watercolor.png);
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 16px;
    border-radius: 40px;
    color: antiquewhite;
    border: black solid;
    box-shadow: inset white 0 0 10px;

    /* desafio: aplique as seguintes propriedades;
    -borda em todos os lados na cor que quiser
    -sombra (na cor que quiser) no bloco virada pra dentro
    -coloque o texto no meio
    -letras maiusculas
     */

}

#container {
    background-color: white;
    width: 80%;
    margin: auto;
    box-shadow: black 0 0 5px;
    padding: 16px;
    border-radius: 40px;

}

h2 {
font-size: 20px;
border-bottom: solid 5px;
border-left: dashed 5px;
padding-left: 10px;
}

/* grupo de seletores */
h3, p, figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
background: linear-gradient(236deg, 
 rgba(10,0,172,1) 0%, 
 rgba(0,0,0,1) 50%, 
 rgba(0,212,255,1) 100%);
}

.destaque {
    background-color: black;
    padding: 1px;
    color: white;
border-radius: 5px;
}

/* reset/Limpeza */
figure {
    margin: 0;
    text-align: center;
}

img { max-width: 100%; }

/* seletor descedente */
p a { color: red; }